<?xml version="1.0" encoding="UTF-8"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/trunk/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>
        <title>Order Shipped Handler Configuration</title>

        <input-field type="url">
            <name>webhookUrl</name>
            <label>Webhook URL.</label>
            <required>true</required>
        </input-field>
    </card>

</config>
